<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="IsProduction" value="false"/>
    <add key="YelpConsumerKey" value="LcWzTqLEXkSzDunyb41jag"/>
    <add key="YelpConsumerSecret" value="tIhePe68rnfL6zCE7olk6LNdyxQ"/>
    <add key="YelpToken" value="u_z8tVOBFpkw0hMRgCgb0S4ZctxUYVvC"/>
    <add key="YelpTokenSecret" value="elEnlJJQe5KcXtl5eM4u40l6OhY"/>
     <add key="StripeApiKey" value="sk_test_ZokY4EMs7UxZ8PrS7xAvG42U"/>
   <!-- Production
    <add key="StripeApiKey" value="sk_live_hSsXIqzkuPtij4gPYlPRIz2b" />
   -->
  </appSettings>
  <connectionStrings>
    
    <add name="ConnectionString" connectionString="Data Source=fennel.arvixe.com;Initial Catalog=MyOwnerBox;Integrated Security=false;User ID=Hookem22;Password=emmitt22"/>
  <!-- Production  
    <add name="ConnectionString" connectionString="Data Source=fennel.arvixe.com;Initial Catalog=MyOwnerBoxDev;Integrated Security=false;User ID=Hookem22;Password=emmitt22"/>
-->
  </connectionStrings>
  <system.web>
    <customErrors mode="On"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>